In [ ]:
print("hello Bhai!")

hello Bhai!

In [7]:
list1 = [10,2,3,4,5]

list2 =list1[:]
list2[0] = 6

print(list2)
print(list1)
#

[6, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

In [8]:
m = {"a": 1, "b" : 2}
print(m.keys())

dict_keys(['a', 'b'])

In [9]:
for i in range(5):
  print(i)

0
1
2
3
4

In [14]:
n = [1,2,3,4,5]
new_num = [x**2 for x in n]
print(new_num)
s = str(n)
print(s)

[1, 4, 9, 16, 25]
[1, 2, 3, 4, 5]

In [ ]:
a=2
print(type(a))
a=2.1
print(type(a))
a="hello"
print(type(a))
print(a)

<class 'int'>
<class 'float'>
<class 'str'>
hello

In [ ]:
a=100
print(id(a))

10754024

In [15]:
print(123 + 0.0)

123.0

In [ ]:
b=100
print(id(b))

10754024

In [16]:
def m(a=2, b):
  return a *b

m(3)

SyntaxError: non-default argument follows default argument (<ipython-input-16-a2d2f65e248d>, line 1)

In [20]:

x = [1,2,3,4,5]
for i in range(len(x)-1,-1,-2) : print(x[i])

5
3
1

In [ ]:
c=100
print(id(c))

10754024

In [ ]:
c=a

In [34]:
p = (range(-1,1))
print(p)
j= 1
for i in p:
  if 3*i < 6:
    j+=2
  else:
    j+=3

print(j)

range(-1, 1)
5

In [36]:
def fun(n):
  if n == 0:
    return 'O'
  else:
    return n * fun(n-1)

print(fun(3))

OOOOOO

In [28]:
print(10//3**2)

1

In [ ]:
b=c
print(id(b))

10754024

In [ ]:
a=b=c
print(a,b,c)

100 100 100

In [ ]:
import keyword as kw
print(kw.kwlist) # List all the keywords in Python

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
as=2 # Keyawords cannot be used as variable name
print(as)

SyntaxError: invalid syntax (<ipython-input-22-95ab0417a2c5>, line 1)

In [ ]:
# Multiline comments are made using """
""" This is
Multi-line
Comment """
print("Hello")

Hello

In [ ]:
print(instance(a))

NameError: name 'instance' is not defined

In [ ]:
huge_number = 10**1000  # 10 raised to the power of 1000
print(huge_number)
print(type(huge_number))

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
<class 'int'>

In [ ]:
print(isinstance(a, int))

True

In [ ]:
a = "Baba"
print(a*2)
#Length of the string
s = input("enter a string")
c = 0
for i in s:
  c += 1

print("length = ", c)

# Use Len function
print(len(s))

BabaBaba
enter a stringSalesforce
length =  10
10

In [ ]:
# membership operator
if "a" in "apple" :
  print("yes")
else:
  print("no")

print("applebananaaple".count("ap"))

yes
2

In [ ]:
# startswith method

mobno = input('Enter your mobile no. with country code')
if mobno.startswith('+91'):
  print('India')
elif mobno.startswith('+1'):
  print('US')
else:
  print('Other')

Enter your mobile no. with country code+885563664
Other

In [ ]:
# endswith

url = input("enter an URL : ")
if url.endswith('.edu'):
  print('Educational')
elif url.endswith('.com'):
  print('Commercial')
else:
  print('Other')

enter an URL : www.fece.book
Other

In [ ]:
from os import name
# lstrip method
name = input('Enter your name : ')
print(name.lstrip())

Enter your name :    NTT
NTT

In [ ]:
url = ["www.google.com", "www.youtube.com", "www.wikipedia.com"]
for i in url:
  print(i.lstrip('www.'))

google.com
youtube.com
ikipedia.com

In [ ]:
# rstrip method
url = ["http://www.google.com", "www.youtube.com", "www.wikipedia.com"]
for i in url:
  print(i.rstrip('htp.com'))

http://www.google
www.youtube
www.wikipedia

In [ ]:
d1 = {2:100,4:200,6:300,8:400}
print(d1)
print(type(d1))
print(d1[4])

{2: 100, 4: 200, 6: 300, 8: 400}
<class 'dict'>
200

In [ ]:
d2 ={'aa': 100  , 'bb': 200 , 'cc': 300}
print(d2)
print(d2['aa'])

{'aa': 100, 'bb': 200, 'cc': 300}
100

In [ ]:
d3 = {3:[1,2,3], 6:(4,5,6), 9:{7,8,9}}
print(d3)
print(d3[6])
print(d3[6][2])
print(d3[3][0])
print(d3[9])

{3: [1, 2, 3], 6: (4, 5, 6), 9: {8, 9, 7}}
(4, 5, 6)
6
1
{8, 9, 7}

In [ ]:
d4 = {(1,2): 100, (3,4): 200, (5,6): 300}
print(d4)
print(d4[(1,2)])

{(1, 2): 100, (3, 4): 200, (5, 6): 300}
100

In [ ]:
d5 = {1: 100, "Ha": "20/05/2006", (1,2,3): "Bans" , (9,8,7): 8585}
print(d5)

{1: 100, 'Ha': '20/05/2006', (1, 2, 3): 'Bans', (9, 8, 7): 8585}

In [ ]:
# Interation through dict
d1 = {2:100, 4:200, 6:300, 8:400}

for key1 in d1:
  print(key1)

2
4
6
8

In [ ]:
d1 = {2:100, 4:200, 6:300, 8:400}

for value in d1.values():
  print(value)

100
200
300
400

In [ ]:
d1 = {2:100, 4:200, 6:300, 8:400}

for key,value in d1.items():
  print(key)
  print(value)

2
100
4
200
6
300
8
400

In [ ]:
d1 = {2:100, 4:200, 6:300, 8:400}

for x,y in d1.items():
  print(x)
  print(y)

2
100
4
200
6
300
8
400

In [ ]:
d1 = {2:100, 4:200, 6:300, 8:400}
keys = d1.keys()
print(keys)
print(type(keys))

l1 = list(keys)
print(l1)
print(type(l1))

dict_keys([2, 4, 6, 8])
<class 'dict_keys'>
[2, 4, 6, 8]
<class 'list'>

In [ ]:
#get
d1 = {2:100, 4:200, 6:300, 8:400}

x = d1.get(2)
print(x)

y = d1.get(5, "default")
print(y)

100
default

In [ ]:
#shallow copy
d1 = {2:100, 4:200, 6:300, 8:400}
d2 = d1.copy()

print(d1)
print(d2)

print(id(d1))
print(id(d2))

{2: 100, 4: 200, 6: 300, 8: 400}
{2: 100, 4: 200, 6: 300, 8: 400}
135336104198912
135336104207040

In [ ]:
#fromkeys()
keys= [1,2,3,4]
d1 = dict.fromkeys(keys)
print(d1)

d2 = dict.fromkeys(keys, 100)
print(d2)

{1: None, 2: None, 3: None, 4: None}
{1: 100, 2: 100, 3: 100, 4: 100}

In [ ]:
k = [1,2,3,4,5,6]
v = [10,20,30,40,50,60, 70]
d1 = dict(zip(k,v))

print(d1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# Assignment
s = " I live in blr, blr is a garden city and beautiful city"   # input

output = {}

for word in s.split():
  if word not in output:
    output[word] = 1
  else:
    output[word] += 1

print(output)

#{'I':1 , 'live':1, 'in':2, 'blr':2, 'is':1, 'a':1, 'garden':1, 'city':2} # output

{'I': 1, 'live': 1, 'in': 1, 'blr,': 1, 'blr': 1, 'is': 1, 'a': 1, 'garden': 1, 'city': 2, 'and': 1, 'beautiful': 1}